/* style.css */

/* reset */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        /*font-size: 100%;*/
        vertical-align: baseline;
        background: transparent;
    }

body {
    font-family:'robotoblack';
}

header, footer {
    text-align: center;
    background: #1f2532;
    color: #d9e1e9;
    padding:8px;
    position: fixed;
}

footer {
    position: fixed;
    bottom: 0;
}

#top-spacer {
    height:126px;
}


#safari-mobile-notice {
    display:none;
}
